*{
    margin:0;
    padding:0;
    /*border:dotted 1px red;*/
}

h1{
    color: rgb(136, 0, 106);

}

h2{
    color:red; 

}


/* Myprofile Page */
/* Developer : Jaehyun */

.navbar {
    display: flex;
    justify-content: space-evenly;
    margin:10px;
}

#my_profile {
    border: solid lightgray;
    padding: 10px
}

#my_profile h1 {
    text-align: center;
    margin-bottom: 40px;
}

#enrolled_children {
    border: solid lightgray;
}

#enrolled_children h1 {
    text-align: center;
    margin-bottom: 40px;
}

#enrolled_children a {
    text-decoration: none;
}

.btn-block {
    margin-top:50px;
}

/*Mridula  Start*/



#header{
    display:inline-block;
    vertical-align: middle;
    margin-top:10px;
}


.container{
    margin-top:10px;
}

.block{
    display:block;
    margin-top:4px;
    margin-bottom:8px;
}


#form-button button{
    margin-top:1rem;
    width:100%;
    /*background:purple;*/
    background:yellow;
    color:black;
    border:none;
}

#header-message{
    color:purple;
}

#background-message{
    background:orange;
}

#form-button{
    margin-top:-19px;
}

#register_child h3{
    text-align: center;
    margin-bottom: 2px;
}

#register_child{
    margin-top:-33px;
}

#register_child h1{
    text-align: center;
    margin-bottom: 8px;
}


#right #register{
    margin-left:8px;
    background-color: rgb(81, 81, 228);
    border:none;
}

#right{
    margin-top:-28px;
    text-align: center;
}

.pMsgs{
    text-align:center;
    text-decoration:none;
    color:red;
    list-style-type: none;
}

.pMsgs ul{
    list-style-type: none;
}

.pMsgs li{
    margin-top:4px;
}

.text-center{
    margin-top:8px;
}

.partlogin button{
    
    width:100%;
    background-color:yellow;
    color:black;
    border-color:yellow;
}

.partlogin button hover{
    background-color:orange;
    color:white;
}

.partReg button{
    
    width:100%;
    background-color:  yellow;
    border-color:yellow;
    color:black;
}

h3{
    color:orange;
}



/*Mridula - End*/

/* lily -start---- */
#map {
    height: 250px;
    width: 100%;  /* The width is the width of the web page */
    text-emphasis-color:bold;
}

h4{
    color:orangered;   
}

h5{
    color:orangered; 
}
h6{
    color:green; 
}
#temp-right{
    display:inline-block;
    vertical-align: top;
}

.poster {
    font-size: 11pt;
    text-align: left;
    font-family: sans-serif;
    
}
.post{
    font-size: 14pt;
    text-align: left;
    
}

/* lily -end---- */