*{
    margin:0;
    padding:0;
    /*border:dotted 1px red;*/
}

h1{
    color: rgb(136, 0, 106);
   
}

h2{
    color:red; 
   
}


/* Myprofile Page */
/* Developer : Jaehyun */

.navbar {
    display: flex;
    justify-content: space-evenly;
    margin:10px;
}

#my_profile h1 {
    text-align: center;
    margin-bottom: 40px;
}

#enrolled_children h1 {
    text-align: center;
    margin-bottom: 40px;
}

#enrolled_children a {
    text-decoration: none;
}

.btn-block {
    margin-top:50px;
}

/*Developer: Mridula*/
/*Register A Child*/


#header{
    display:inline-block;
    vertical-align: middle;
    margin-top:10px;
}


.container{
    margin-top:10px;
}

.block{
    display:block;
}


#form-button button{
    margin-top:10px;
    
}

#form-button{
    margin-top:-19px;
}

#register_child h3{
    text-align: center;
    margin-bottom: 2px;
}

#register_child{
    margin-top:-33px;
}

#register_child h1{
    text-align: center;
    margin-bottom: 8px;
}


#right #register{
    margin-left:8px;
}

#right{
    margin-top:-28px;
    margin-left:0;
    padding:0;
}

.pMsgs{
    text-align:center;
    text-decoration:none;
    color:red;
    list-style-type: none;
}

.pMsgs ul{
    list-style-type: none;
}

.pMsgs li{
    margin-top:4px;
}

.text-center{
    margin-top:8px;
}

