<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">   
    <title>Register A Child</title>
</head>
<body>
    <div class="container">
        
        <h1 id="header">Welcome, {{ user.first_name }}!</h1>
        
        <a class="float-right" id="header" href="/ABC/logout">Log Out</a> 
        <br><br><br><br>
        
        <!--<p> This is the page to add/register a new Child -AFTER successful validation</p>-->
        <!--<br>-->
        <h3>Register A Child</h3>
        <!--<p> It will display the form to add/register a new Child</p>-->
        <br><br>
    
        <form action="/ABC/regChild" method="POST"> <!--path('regChild', views.regChild),-->
            {% csrf_token %}
            <div class='pMsgs'>
                
                
                {% if messages %}
                    <ul class="messages">    
                        {% for message in messages %}    
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <strong class="block"><label for="first_name">First Name:</label></strong>
            <input type="text" name="first_name">

            <strong class="block"><label for="last_name">Last Name:</label></strong>
            <input type="text" name="last_name">

            <strong class="block"><label for="birthdate">Birthdate:</label></strong>
            <input type="date" name="birth_date">

            <strong class="block"><label for="gender">Gender:</label></strong>
            <label for="gender">Female</label>
            <input type="radio" name="child_gender">

            <label for="gender">Male</label>
            <input type="radio" name="child_gender">

            <strong class="block"><label for="grade">Grade:</label></strong>

            <select class="block" name="child_grade">
                <option value="1">Grade</option>
                <option value="1">Kindergarten</option>
                <option value="4">1</option>
                <option value="6">2</option>
                <option value="8">4</option>
                <option value="8">8</option>
            </select>

            <button typd="submit">Register A Child</button>

            

        </form><!--End of Form-->

        <!--<p>this page can be called from myEvents and from myProfile pages when the Add a Child link is clicked</p>-->
        
        <br>
        <hr>
        <p></p>
        <p>FOR NOW -the link will log you out because there is no form pointing anywhere -there is no CHILD model yet -but you get the point</p>
        <a href="/ABC/myProfile"><strong>when the REGISTER a CHILD button is clicked  -it will show myProfile with the Enrolled Child(ren) updated</strong></a> 
    
        <br><br>
        <br><br>
        

    </div>
</body>
</html>