<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Event Details</title>
</head>

<body>
    <div class="container">
        <h1>Welcome, {{ user.first_name }}!</h1>
        <a href="/ABC/dashboard">Dashboard </a> | <a href="/ABC/myProfile">myProfile </a> | <a
            href="/ABC/myEvents">myEvents </a>
        <a class="float-right" href="/ABC/logout">Log Out</a>
        <br><br><br><br>
        <p> This is the Event Details page</p>
        <br>
        <p> It will show the Details of that SPECIFIC event, the map and the wall</p>
        <br><br>
        <p>this page is called after the CONFIRMATION button is clicked on the newJoin page</p>
        <br>
        <hr>
        <p></p>


    </div>
</body>

</html>