<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">   
    <title>testing Connection HTLM/css</title>
</head>
<body>
    <h1> Just testing connections between my view and urls with html and css -remember to include load static!</h1>
    <br> 
    <h3>You are ready to start looking into the MODELS -OneToMany or ManyToMany?...</h3>
</body>
</html>