<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>New Join Event </title>
</head>

<body>
    <div class="container">
        <nav class="navbar">
            <a href="/ABC/myEvents">myEvents</a>
            <a href="/ABC/dashboard">Dashboard</a>
            <a href="/ABC/myProfile">myProfile</a>
            <a class="float-right" href="/ABC/logout">Log Out</a>
        </nav>
        <br>
        <br>
        <!-- Need view.py update -->
        <section id="event_info">
            <div>
                <h1>Please confirm selection - {{ user.first_name }}!</h1>
            </div>
            <br>
            <br>
            <h2>Event: {{ user_event.event_name }}</h2>
            <br>
            <p>Date: {{ user_event.event_date }}</p>
            <p>Time: {{ user_event.event_time }}</p>
            <p>Location: {{ user_event.location }}</a></p>
            <p>Address: {{ user_event.full_address }}</p>
        </section>
        <br>
        <section id="child_info">
            
            <div>
                <form action="/ABC/{{user_event.id}}/confirmJoin" method="POST">
                    {% csrf_token %}
                    {% for child in children %}
                    <div class="form-group">
                        <label for="name">Child Name:</label>
                        <input type="text" class="form-control" value="{{child.full_name}}">
                    </div>
                    <div class="form-group">
                        <label for="join">Join?</label>
                        <select class="custom-select" id="selector" name="dropdown">
                            <option value="none">--SELECT--</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    {% endfor %}
                    <div class="form-group">
                        <input type="hidden" name='child_id' value='{{child.id}}'>
                        <button class="btn btn-secondary btn-lg btn-block" type="submit" id="btn">Confirm</button>
                    </div>
                </form>
            </div>
            
            <br>
            <br>
        </section>
    </div>
    <script type="text/javascript">
        let selector = document.getElementById('selector');
        let btn = document.getElementById('btn');
        let childId = document.getElementsByName('child_id');

        btn.onclick = (event) => {
            event.preventDefault();
            // alert(selector.value);
            if (selector.value == 'yes') {
                location.href = "/ABC/{{user_event.id}}/confirmJoin"
            }
            else if (selector.value == 'no') {
                location.href = "/ABC/{{user_event.id}}/confirmJoin"
            }
            else if (selector.value == 'none') {
                alert("Please select either 'yes' or 'no'")
            }
        }
    </script>
</body>

</html>